 body {
  margin: 0;
  text-align: center;
}

img {
  width: 240px;
}
h1 {
margin-top: 0;

}
.top-par{
  color:#0bb5ff ;
  font-size: 2.5rem;
}
.top-title{
  color:#1520a6;
  font-size: 3.75rem;
}
.navigation ul {
  font: bold 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;

}
.navigation li {
  display: inline-block;
}
.navigation a:hover {
  background: GREY;
}
.navigation b:hover {
color: gold;
padding: 15px;
}
.navigation b {
font-size: 2.5rem;
padding: 15px;
color: #0bb5ff;
}
.navigation c:hover {
  color: green;
}
.navigation c {
font-size: 2.5rem;
color: #0bb5ff;
}
.navigation d:hover {
  color: blue;
}
.navigation d {
font-size: 2.5rem;
padding: 15px;
color: #0bb5ff;
}
.navigation e:hover {
  color: yellow;
}
.navigation e {
font-size: 2.5rem;
color: #0bb5ff;
}
.navigation f:hover {
  color: grey;
}
.navigation f {
font-size: 1.5rem;
color: #0bb5ff;
}
.t{
  color: red;

  margin: 0;
}
.e{
  color: purple;
margin: 0;
}
