 body {
  margin: 0;
  text-align: center;
}

img {
  width: 240px;

}
h1 {
margin-top: 0;

}
.top-par{
  color:#0bb5ff ;
  font-size: 2.5rem;
}
.top-title{
  color:#1520a6;
  font-size: 3.75rem;
}
.navigation ul {
  font: bold 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;

}
.navigation li {
  display: inline-block;


}
.vd:hover {
color: gold;
}
.vd {
font-size: 2.5rem;
padding:15px;
color: #0bb5ff;
}
.wf:hover {
  color: green;
}
.wf {
font-size: 2.5rem;
color: #0bb5ff;
padding: 15px;
}
.cc:hover {
  color: blue;
}
.cc {
font-size: 2.5rem;
padding: 15px;
color: #0bb5ff;
}
.av:hover {
  color: yellow;
}
.av {
font-size: 2.5rem;
color: #0bb5ff;
}
.cd:hover {
  color: grey;
}
.cd {
font-size: 1.5rem;
color: #0bb5ff;
}
.t{
  color: purple;
  display: inline-block;
    font-size: 2rem;
    padding-right: 40PX;
}
.e{
  color: purple;
  display: inline-block;
    font-size: 2.4rem;

}
