body {
  margin: 0;
  text-align: center;
}

img {
  width: 240px;
}

h1 {
margin-top: 0;

}
.top-par{
  color:blue ;
font-size: 40px;
}
.top-title{
  color:#1520a6;
  font-size: 60px;

}
